html, body  { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  margin: 0;
  width: device-width;
  background-color: #fff;
}
.wrapper { height: 100vh; display: flex; flex-direction: column; }
.header, .app-main, .footer { flex-shrink: 0; }
h1    { font-size: 5vw; margin: 0px; }
h4    { margin: 0px; }
p     { margin: 0px; font-size: 12px; }
input { border: none; margin: 1px; }
.row  { display: flex; flex-wrap: wrap; justify-content: center; }
.container p    { text-align: center; }
.nav-link       { padding: 5px; }
.recent-stats   { text-align: left; }
.header *       { margin: 10px; }
.menu           { margin:30px; width: 250px; margin-left: auto; margin-right: auto; text-align: center; }
.menu *         { margin: 5px; }
.artist-block * { margin: 2px; }

.header {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  border: solid;
  border-color: whitesmoke;
  border-width: 0px 0px 1px 0px;
}

.app-main {
  margin: 10px;
  flex-grow: 1;
}

.artist-list {
  margin: 10px;
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
}

.artist-list li {
  margin-bottom: 10px;
  padding: 5px;
}

.artist-block {
  text-align: center;
  display: inline-block;
}

.artist-editor {
  margin-top: 30px;
  padding: 15px;
  border: solid;
  border-color: #5801c3;
  border-radius: 10px;
}

.artist-edit-row {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.overview-total {
  display: flex;
  justify-content: center;
}

.card {
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.social-list {
  margin-left: auto;
  margin-right: auto;
}

.graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social h2:first-letter {
    text-transform:capitalize;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: solid;
  border-color: whitesmoke;
  border-width: 1px 0px 0px 0px;
  z-index: 0;
}
