html, body  { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  margin: 0;
  width: device-width;
  background-color: #fff;
}
.wrapper { height: 100vh; display: flex; flex-direction: column; }
.header, .app-main, .footer { flex-shrink: 0; }
h1    { font-size: 5vw; margin: 0px; }
h4    { margin: 0px; }
p     { margin: 0px; font-size: 12px; }
input { border: none; margin: 1px; }
.row  { display: flex; flex-wrap: wrap; justify-content: center; }
.container      { padding: 0px; }
.container p    { text-align: center; }
.nav-link       { padding: 5px; }
.recent-stats   { text-align: left; }
.header *       { margin: 10px; }
.menu           { width: 250px; margin-left: auto; margin-right: auto; text-align: center; }
.menu *         { margin: 5px; }
.artist-block * { margin: 2px; }
.app-main       { padding: 10px; }
.form-group     { padding: 10px; }

.header {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  border: solid;
  border-color: whitesmoke;
  border-width: 0px 0px 1px 0px;
}

.menu-button { background-color: #5801C3; color: white; }

.app-main {
  flex-grow: 1;
}

.artist-list {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  align-items: center;
  margin-bottom: 20px;
}

.artist-list li {
  padding: 5px;
}

.artist-list li:last-child {
  padding-right: 20px;
}

.artists-title { margin-left: 20px; }

.artist-block {
  text-align: center;
  display: inline-block;
  min-width: 150px;
}

.new-artist-button { background-color: #0095EC; color: white; height: 80px; width: 80px; }
.edit-button { background-color: #FF5733; color: white; }
.delete-button { background-color: #C70039; color: white; }
.submit-button { background-color: #13C1A8; color: white; }

.artist-editor {
  margin-top: 30px;
  padding: 15px;
  border: solid;
  border-color: #5801c3;
  border-radius: 10px;
  border-width: 2px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px #777;
}

.artist-edit-row {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.overview-total {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.time-toggles { display: flex; justify-content: center; }
.time-toggles * { margin-left: 5px; margin-right: 5px; }

.card {
  margin: 10px;
}

.social-list {
  margin-left: auto;
  margin-right: auto;
}

.graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.social h2:first-letter {
    text-transform:capitalize;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: solid;
  border-color: whitesmoke;
  border-width: 1px 0px 0px 0px;
  z-index: 0;
}
