body  { width: 100%; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin: 0; width: device-width; }
h1    { font-size: 5vw; margin: 0px; }
h4    { margin: 10px; }
p     { margin: 0px; font-size: 12px; }
input { border: none; margin: 1px; }
.btn { padding: 5px; }
.highlighted { background-color: skyblue; }
.container p { text-align: center; }
.btn-secondary { padding: 0px; padding-left: 4px; padding-right: 4px; text-transform: capitalize; box-shadow: inset 0 -1px 0 #ddd;}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  background-color: whitesmoke;
}

.app-main {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.artist-list {
  margin: 10px;
  margin-left: 15px;
  display: flex;
}

.artist-list * {
  margin-left: 10px;
  margin-right: 10px;
}

.artist-block {
  text-align: center;
  display: inline-block;
}

.artist-edit-row {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.social-list {
  margin: 10px;
  margin-top: 30px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
}

.social h2:first-letter {
    text-transform:capitalize;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
